body {
    background-color: #FEFEFE;
    position: relative;
}



.button {
    display: flex;
    width: 150px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #252F31;
    color: #ddd;

    &:hover {
        background-color: #222;
    }
}


.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.section-header {
    line-height: 50px;
    border-bottom: 2px solid black;
    font-size: 40px;
    order: 0;
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 400s linear infinite;
}

nav {
    padding: 10px 0;
    background-color: #252F31;
    overflow: hidden;
    z-index: 3;
    font-size: 20px;
    opacity: 0.8;

    .logo {
        color: #ddd;
        margin-left: 100px;
        float: left;
        font-size: 40px;
        font-family: 'Amatic SC', cursive;
    }

    .links {
        font-family: 'Patua One', cursive;
        margin-right: 100px;
        display: flex;
        justify-content: flex-end;

        a {
            color: #6F6F6F;
            display: inline-block;
            padding: 14px;
            text-align: center;
            text-decoration: none;

            &:first-child {
                color: #ddd;
            }

            &:hover {
                background-color: #222;
            }
        }
    }
}

.hero {
    //    background-color: black;
    //    display: block;
    height: 100vh;
    min-height: 700px;
    //    position: relative;
    overflow: hidden;
    position: relative;

    .hero-after {
        //        background-attachment: fixed;
        //        content: "";
        //        opacity: 0.5;
        left: calc(50vw - 1088px);
        top: calc(50vh - 1088px);
        position: absolute;
        z-index: -10;
    }

    .text {
        font-family: 'Permanent Marker', cursive;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: white;
        width: 60%;
        margin: 0 auto;

        .top {
            text-align: left;
            font-size: 40px;
        }

        .middle {
            margin: 50px auto;
            text-align: center;
            font-size: 60px;
        }

        .bottom {
            text-align: right;
            font-size: 40px;
        }

        .scroll-button {
            position: absolute;
            z-index: 20;
            left: 50%;
            top: 40vh;
            width: 24px;
            height: 24px;
            border-left: 5px solid #fff;
            border-bottom: 5px solid #fff;
            transform: rotate(-45deg);
            box-sizing: border-box;

        }
    }


}

.about {
    background-color: #F8F8F8;
    position: relative;
    z-index: 2;
    font-family: 'Patua One', cursive;
    font-size: 20px;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .text {
        order: 1;
        width: 50vw;
    }
}

.portfolio {
    height: 200vh;
    font-family: 'Patua One', cursive;
    background-color: white;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content {
        order: 1;
    }

    img {
        height: 213px;
        width: 320px;
    }

    .img-left {
        order: 1;
    }

    .img-right {
        order: -1;
    }

    .right-slide {
        left: 100vw;
    }

    .left-slide {
        left: -100vw;
    }

    .slide {
        background-color: #ECECEC;
        position: relative;
        height: 300px;
        width: 500px;
        margin: 50px auto;
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        animation-fill-mode: forwards;

        .text {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            p {
                text-align: center;
                padding: 10px;
            }
        }
    }

    .image-wrapper:not(:last-child) {
        border-bottom: 1px solid #f1f1f1;
        width: 100vw;

    }
}

footer {
    font-family: 'Patua One', cursive;
    background-color: #252F31;
    color: #ddd;
    height: 20px;
    padding: 14px;
    text-align: center;
}
