body {
  background-color: #FEFEFE;
  position: relative; }

.button {
  display: flex;
  width: 150px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #252F31;
  color: #ddd; }
  .button:hover {
    background-color: #222; }

.content {
  padding: 16px; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.sticky + .content {
  padding-top: 60px; }

.section-header {
  line-height: 50px;
  border-bottom: 2px solid black;
  font-size: 40px;
  order: 0; }

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
.rotating {
  -webkit-animation: rotating 400s linear infinite; }

nav {
  padding: 10px 0;
  background-color: #252F31;
  overflow: hidden;
  z-index: 3;
  font-size: 20px;
  opacity: 0.8;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  nav .logo {
    color: #ddd;
    float: left;
    font-size: 40px;
    font-family: 'Amatic SC', cursive; }
  nav .links {
    font-family: 'Patua One', cursive;
    margin-right: 100px;
    display: flex;
    justify-content: center; }
    nav .links a {
      color: #6F6F6F;
      display: inline-block;
      padding: 14px;
      text-align: center;
      text-decoration: none; }
      nav .links a:first-child {
        color: #ddd; }
      nav .links a:hover {
        background-color: #222; }
  nav .hamburger {
    display: none; }

.hero {
  height: 100vh;
  min-height: 700px;
  overflow: hidden;
  position: relative; }
  .hero .hero-after {
    left: calc(50vw - 1088px);
    top: calc(50vh - 1088px);
    position: absolute;
    z-index: -10; }
  .hero .text {
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    width: 60%;
    margin: 0 auto; }
    .hero .text .top {
      text-align: left;
      font-size: 40px; }
    .hero .text .middle {
      margin: 50px auto;
      text-align: center;
      font-size: 60px; }
    .hero .text .bottom {
      text-align: right;
      font-size: 40px; }
    .hero .text .scroll-button {
      position: absolute;
      z-index: 20;
      left: 50%;
      top: 40vh;
      width: 24px;
      height: 24px;
      border-left: 5px solid #fff;
      border-bottom: 5px solid #fff;
      transform: rotate(-45deg);
      box-sizing: border-box; }

.about {
  background-color: #F8F8F8;
  position: relative;
  z-index: 2;
  font-family: 'Patua One', cursive;
  font-size: 20px;
  padding: 10vh 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  .about .text {
    margin-top: 50px;
    order: 1;
    width: 50vw; }

.portfolio {
  padding: 10vh 0;
  font-family: 'Patua One', cursive;
  background-color: white;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .portfolio .content {
    order: 1; }
  .portfolio img {
    height: 213px;
    width: 320px; }
  .portfolio .img-left {
    order: 1; }
  .portfolio .img-right {
    order: -1; }
  .portfolio .right-slide {
    left: 100vw; }
  .portfolio .left-slide {
    left: -100vw; }
  .portfolio .slide {
    background-color: #ECECEC;
    position: relative;
    height: 300px;
    width: 500px;
    margin: 50px auto;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-fill-mode: forwards; }
    .portfolio .slide .text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .portfolio .slide .text p {
        text-align: center;
        padding: 10px; }
  .portfolio .image-wrapper:not(:last-child) {
    border-bottom: 1px solid #f1f1f1;
    width: 100vw; }

footer {
  font-family: 'Patua One', cursive;
  background-color: #252F31;
  color: #ddd;
  height: 20px;
  padding: 14px;
  text-align: center; }

@media only screen and (max-width: 600px) {
  .nav-responsive {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .nav-responsive .logo {
      margin: 20px 0; }
    .nav-responsive .links {
      margin: 10vh 10vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }

  nav .links {
    display: none; }
  nav .hamburger {
    display: block;
    width: 40px;
    height: 35px;
    border: 0;
    border-top: 5px solid #ddd;
    background: transparent;
    position: relative; }
  nav .hamburger::before,
  nav .hamburger::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 5px solid #ddd;
    transform: translateY(10px); }
  nav .hamburger::after {
    transform: translateY(25px); }
  nav .close {
    height: 100px;
    width: 100px;
    background-color: antiquewhite; } }

/*# sourceMappingURL=style.css.map */
